* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form {
  margin-top: 5%;
  display: flex;
  align-items: center;
  width: 60%;
  margin-bottom: 25px;
  border-bottom: 1px solid #000;
  border-radius: 8px;
}

input {
  border: none;
  padding: 10px;
  font-size: 18px;
  outline: none;
  flex: 1;
}

.add-update-btn {
  padding: 10px 25px;
  border: none;
  background: none;
  color: #000;
  cursor: pointer;
  font-size: 18px;
}

.add-update-btn:hover {
  background: #000;
  color: #fff;
  border-radius: 5px;
}

#todo-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  background: #233d4d;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.todo-content {
  font-size: 18px;
  overflow: auto;
}

.btns {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}

.edit {
  background-color: #ffd41d;
}

.delete {
  background-color: #ff4646;
}
