* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: radial-gradient(#ebf4dd, #5a7863);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 30px;
  background: #acbac4;
}

.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  background-image: linear-gradient(to right bottom, #f5c857, #e2852e);
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

input {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: right;
  letter-spacing: 2px;
  outline: none;
  color: #000;
  background: #d8d2d2;
}

input:focus {
  border: 1px solid #2563eb;
}

.operator {
  background-image: linear-gradient(to right bottom, #9ca3af, #6b7280);
}

.equal {
  background-image: linear-gradient(to right bottom, #2563eb, #1e40af);
}
